@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
/* 
font-family: 'Bungee Outline', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Russo One', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
    box-sizing: border-box;
  }

  
  body {
    background-color: rgb(29, 125, 170);
    width: 100%;
    height: 100vh;
  }

/*   .container-HI {
      display: flex;
  }

  .higher-score {
    font-family: 'Bungee Outline', cursive;
    width: 5%;
    background-color: rgb(230, 247, 255);
    margin: 20px 0 20px 20px;
    box-shadow: 0px 0px 10px #61616199;
    padding: 10px;
    border-radius: 15px 0 0 15px;
    transition: margin 1s;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #hi {
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin: 0;
    width: 5%;
    background-color: rgb(230, 247, 255);
    margin: 20px 20px 20px 0;
    box-shadow: 0px 0px 10px #61616199;
    padding: 10px;
    border-radius: 0 15px 15px 0;
    transition: margin 1s;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  h1 {
      margin: 0;
      font-size: 30px;
  }

  h2 {
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
  }
 */
 
  canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: rgb(29, 125, 170);
  }

  .yuju {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    font-weight: 100;
    padding: 40px;
    background-color: rgba(214, 214, 214, 0.055);
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #61616199;
  } 